*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-slide{
  display: flex;
  justify-content: space-between;
  // align-items: center;
  width: 100vw;
  height: 60vh;
  background-color: #eee;

  &__items{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 60vh;
    transition: all 1s;
  }
}

.items:first-child{
  margin-left: -100%;
}

.items{
  width: 100vw;
  height: 60vh;
}

.action-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  user-select: none;
  color: transparent;
  transition: all 1s;
  z-index: 1;
}

.action-button:hover{
  color: white;
  background-color: #00000090;
  cursor: pointer;
}





